@import "tailwindcss";


/* Hide scrollbar for clean horizontal scroll if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}